/*CSS reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input, textarea{
	-webkit-appearance: none;
	border-style: none;
}

input:focus, textarea:focus{
	outline-offset: 0px;
}

:focus{
	outline: none;
}

/*Begin CSS*/

html{
	font-family: Roboto, Lato, sans-serif;
	font-size: 1em;
	--base-color: #0888EA;
	--accent-color: #FF9200;
	--light-gray: #eef4f9;
	--dark-gray: #3f464b;
	background: url("./img/cube_texture.png"), var(--base-color);
}

body{

}

.container{
	background-color: var(--base-color);
}

.main-content{
	width: 90%;
	margin: 0 auto;
	background-color: white;
	padding: 5% 0;
	color: var(--dark-gray);
}

.banner{
	padding: 40px 20px;
	background: url('/img/william-bout-264826-compressed.jpg') center center;
	background-size: cover;
}

h1{
	/*margin: 0;*/
	margin: 10px 0px;
	font-size: 3em;
	color: var(--dark-gray);
	text-shadow: 1px 1px 1px var(--light-gray),
				1px -1px 1px var(--light-gray),
				-1px 1px 1px var(--light-gray),
				-1px -1px 1px var(--light-gray);
}

hr{
	margin: 0;
	width: 50%;
}

h4{
	margin: 10px 0px;
	font-size: 1.5em;
	font-style: italic;
	color: var(--dark-gray);
	text-shadow: 1px 1px 1px var(--light-gray),
				1px -1px 1px var(--light-gray),
				-1px 1px 1px var(--light-gray),
				-1px -1px 1px var(--light-gray);
}

nav{
	box-sizing: border-box;
	padding: 10px;
	background: var(--dark-gray);
	width: 100%;
/*	margin-bottom: 20px;*/
}

nav a{
	color: white;
	text-decoration: none;
}

.Navbar{
	display: flex;
	justify-content: space-around;
}

.Navbar .main{
	font-size: 2em;
	color: white;
	display: flex;
	justify-content: space-between;
}

.Navbar span{
	align-self: center;
	display: inline-block;
	height: 100%;
}

.Navbar .main a{
	margin-right: 10px;
}

.Navbar .main a i{
	transition: color .3s;
}

.Navbar .main a i:hover{
	color: #545D63;
}

.Navbar span:not(.main) a{
	display: block;
	padding: 20px;
	transition: color .3s, background .3s;
}

.Navbar span:not(.main) a:hover{
	color: var(--dark-gray);
	background: var(--light-gray);
}



.aboutMe{
	margin: 0 auto;
}

.profile{
}

.profile img{
	display: block;
	width: 50%;
	height: auto;
	margin: 3% auto;
	border-radius: 10px;
}

.detail h2{
	text-align: center;
	font-size: 2em;
	margin: 0 0 5%;
}

.detail p{
	line-height: 1.2em;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 2em;
}

.Services{
	margin: 0 auto 10%;
}

.Services h2{
	font-size: 2em;
	text-align: center;
	margin: 0 auto 1em;
	width: 90%;
}

.Services>p{
	display: block;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: .5em;
	font-size: 1.3em;
}

.promiseContainer > div{
	display: flex;
	flex-direction: column;
}

.promiseContainer > div h3{
	flex-basis: 50px;
}

.promiseContainer > div div{
	flex-basis: 200px;
}

.promiseContainer > div p{
	flex-basis: 50px;
}

.promise1 h3{
	font-size: 1.7em;
	text-align: center;
	margin-top: 10%;
}

.promise1 img{
	display: block;
	border: 4px solid var(--dark-gray);
	border-radius: 999px;
	height: 150px;
	width: 150px;
	margin: 10% auto;
}

.promise1 p{
	width: 80%;
	margin: 0 auto 10%;
}

.promise2 h3{
	font-size: 1.7em;
	text-align: center;
	margin-top: 10%;
}

.promise2 img{
	display: block;
	border: 4px solid var(--dark-gray);
	border-radius: 999px;
	height: 150px;
	width: 150px;
	margin: 10% auto;
}

.promise2 p{
	width: 80%;
	margin: 0 auto 10%;
}

.promise3 h3{
	font-size: 1.7em;
	text-align: center;
	margin-top: 10%;
}

.promise3 img{
	display: block;
	border: 4px solid var(--dark-gray);
	border-radius: 999px;
	height: 150px;
	width: 150px;
	margin: 10% auto;
}

.promise3 p{
	width: 80%;
	margin: 0 auto 10%;
}

.contactButtons{
	display: flex;
	justify-content: space-around;
}

.contactButtons a{
	color: white;
	text-decoration: none;
	height: 40px;
	width: 100px;
	border: 1px solid var(--accent-color);
	border-radius: 5px;
	background: var(--accent-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.projectSect{
	margin: 0 auto 10%;
}

.projectNav{
	display: flex;
	justify-content: space-around;
	height: 50px;
	align-items: center;
	margin-bottom: 10%;
	color: black;
}

.projectNav h2{
	font-size: 2em;
}

.projectNav button{
	background: gray;
	height: 2em;
	width: 8em;
	border-radius: 5px;
}

.projectDisplay{
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	height: 550px;
}

.projectDisplay img{
	display: block;
	width: 90%;
	height: auto;
	margin: 0 auto;
	flex-basis: 400px;
}

.projectView{
	height: 250px;
	display: block;
	border: 1px solid black;
	margin: 0 auto;
	margin-bottom: 2em;
	border-radius: 5px;
}

.projectInfo{
	display: block;
	width: 90%;
	margin: 10px auto;
	flex-basis: 150px;
}

.projectInfo h4{
	color: black;
	text-align: center;
	font-style: none;
}

.projectList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-height: 90px;
}

.projectList>div{
	width: 80%;
	/*border: 1px solid black;*/
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	background: var(--accent-color);
}

.projectList img{
	width: 100%;
	height: 100%;
	transition: opacity .3s;
}

.projectList img:hover{
	cursor: pointer;
	opacity: .8;
}

.show-mobile{
	height: 100%;
}

/*The general background*/

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}


/*The individual text box*/
.modal-content{
	position: relative;
	top: 10%;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	border-radius: 10px;
	/*Animation styles*/
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

.modal-content img{
	width: 70%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.modal-content h4{
	color: var(--dark-gray);
	text-align: center;
}

/*Add animation*/
@-webkit-keyframes animatetop{
	from {top: -10%; opacity:0}
	to {top: 10% ; opacity:1}
}

@keyframes animatetop {
	from {top: -10%; opacity:0}
	to {top: 10%; opacity:1}
}


.close{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.show-mobile{
	width: 100%;
}

.hiddenProj{
	display: none;
}

.testimonials{
	width: 90%;
	display: block;
	margin: 0 auto 10%;
}

.testimonials h2{
	display: block;
	font-size: 1.7em;
	margin: 5% auto;
}

.testimonialText{
	font-size: 1.3em;
	font-style: italic;
}

.testimonialName{
	font-size: 1.1em;
	float: right;
}

.contact{
	margin-bottom: 10%;

}

.contact h2{
	font-size: 1.7em;
	text-align: center;
	margin: 5% auto 10%;
}

form{
	width: 90%;
	margin: 0 auto;
}

form p{
	font-size: 1.4em;
	margin-bottom: 2%;
}

form input, form textarea{
	box-sizing: border-box;
	border: 1px solid var(--light-gray);
	width: 100%;
	font-size: 1.5em;
	padding: 4% 3%;
	margin-bottom: .75em;
	border-radius: 5px;
	background: var(--light-gray);
}

form input:focus, form textarea:focus{
	border: 1px solid #86C5F9;
}

.submit{
	width: 100%;
	font-size: 1.7em;
	padding: 5%;
	border-radius: 10px;
	background: var(--accent-color);
	color: white;
	font-weight: bold;
}

footer{
	background: var(--dark-gray);
	color: white;
	width: 100%;
	box-sizing: border-box;
	padding: 3%;
	/*margin: 2%;*/
}

footer a{
	color: white;
}

@media screen and (max-width: 480px){
	div.hidden-mobile{
		display: none;
	}
}

@media screen and (min-width: 481px){
	div.show-mobile{
		display: none;
	}
}

@media screen and (min-width: 768px){
	.banner{
		height: 300px;
	}

	.banner h1{
		font-size: 5em;
	}

	.banner h4{
		font-size: 2.5em;
	}

	.Navbar{
		padding: 5%;
	}

	.Navbar a{
		font-size: 2em;
	}

	.profile{
		float: left;
		width: 50%;
	}

	.profile img{
		width: 70%;
	}

	.detail h2{
		font-size: 3em;
		text-align: center;
	}

	.detail p{
		line-height: 1.5em;
		font-size: 1.6em;
	}

	.Services h2{
		font-size: 3em;
		text-align: center;
	}

	.Services p{
		font-size: 2em;
	}

	.Services h3{
		font-size: 3em;
	}

	.promiseContainer{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.promiseContainer > div h3{
		flex-basis: 100px;
	}

	.promiseContainer > div div{
		flex-basis: 250px;
	}

	.promiseContainer > div p{
		flex-basis: 100px;
	}

	.promise1, .promise2, .promise3{
		width: 50%;
	}

	.contactButtons a{
		width: 30%;
		height: 80px;
		font-size: 1.8em;
	}

	.projectNav h2{
		font-size: 3em;
	}



	.projectDisplay h4{
		font-size: 2em;
	}

	.projectDisplay p{
		font-size: 1.8em;
		text-align: center;
	}

	.projectList{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.projectList>div{
		width: 30%;
		height: 100px;
		border-radius: 5px;
		overflow: hidden;
	}

	.testimonials{
		width: 50%;
	}

	.testimonials h2{
		font-size: 3em;
	}

	.testimonials p{
		font-size: 1.8em;
	}

	.contact h2{
		font-size: 3em;
	}

	label p{
		font-size: 2em;
	}

	.submit{
		font-size: 4em;
		padding: 2%;
	}

	footer div{
		font-size: 1.8em;
	}
}

@media screen and (min-width: 1024px){
	.banner{
		padding: 7%;
	}
	.banner h1{
		font-size: 6em;
	}

	.banner hr{
		margin: 5% 0;
	}

	.banner h4{
		font-size: 3em;
	}

	.Navbar{
		padding: 3%;
	}

	.detail h2{
		font-size: 4em;
	}

	.Services h2{
		font-size: 4em;
	}

	.promise1 img, .promise2 img, .promise3 img{
		width: 170px;
		height: 170px;
	}

	.projectDisplay{
		height: 600px;
	}

	.projectDisplay img{
		flex-basis: 500px;
	}

	.projectDisplay .projectInfo{
		flex-basis: 100px;
	}

	.projectNav h2{
		font-size: 4em;
	}

	.projectInfo h4{
		font-size: 3em;
	}

	.projectInfo p{
		font-size: 2em;
	}

	.projectList > div{
		height: 150px;
	}

	.hidden-mobile{
		height: 100%;
	}

	.contact h2{
		font-size: 4em;
	}

	form{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	form .personal{
		width: 48%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	form .sending{
		width: 48%;
	}

	.contact label p{
		font-size: 3em;
	}

	.contact input, .contact textarea{
		font-size: 2em;
		padding: 3.5%;
	}

	form .submit{
		width: 50%;
		display: block;
		margin: 0 auto;
		font-size: 3em;
		padding: 2%;
	}
}

@media screen and (min-width: 1224px){
	.banner{
		height: 300px;
		padding: 1%;
	}

	.banner hr{
		margin: 3% 0;
	}

	.Navbar{
		padding: 0;
	}
	.Navbar a{
		font-size: 1.5em;
	}

	.aboutMe{
		width: 80%;
	}

	div.profile{
		width: 30%;
	}

	.profile img{
		width: 60%;
	}

	.detail h2{
		font-size: 3em;
		text-align: center;
	}

	.detail p{
		font-size: 1.5em;
	}

	.Services{
		width: 80%;
		margin-bottom: 5%;
	}

	.Services h2{
		font-size: 3em;
		margin-bottom: 2%;
	}

	.Services p{
		font-size: 1.5em;
	}

	.promiseContainer h3{
		min-height: 2em;
	}

	.promise1, .promise2, .promise3{
		width: 30%;
	}

	.promise1 h3, .promise2 h3, .promise3 h3{
		font-size: 2em;
	}

	.promise1 p, .promise2 p, .promise3 p{
		font-size: 1.5em;
	}

	.contactButtons a{
		height: 60px;
	}

	.contactButtons a:hover{
		background: #FFAA38;
	}

	.projectSect{
		width: 80%;
		margin-bottom: 5%;
	}

	.projectNav h2{
		font-size: 3em;
	}

	.projectNav{
		margin-bottom: 2%;
	}

	.projectDisplay{
		width: 50%;
		margin: 0 auto;
		height: 400px;
	}

	.projectDisplay img{
		flex-basis: auto;
	}

	.projectInfo h4{
		font-size: 2em;
	}

	.projectInfo p{
		font-size: 1.5em;
	}

	.projectList>div{
		margin: 0 auto;
		width: 15%;
		height: 90px;
	}

	.hidden-mobile{
		height: 100%;
	}

	.testimonials{
		width: 50%;
		min-height: 250px;
		margin-bottom: 5%;
	}

	.testimonials h2{
		text-align: center;
	}

	.testimonials p{
		font-size: 1.5em;
		width: 50%;
		margin: 0 auto;
	}

	.contact{
		width: 70%;
		margin: 0 auto 5%;
	}

	.contact h2{
		font-size: 3em;
		margin-bottom: 3%;
	}

	.contact label p{
		font-size: 2em;
	}

	.contact .submit{
		font-size: 2em;
		min-height: 40px;
		padding: 1%;
	}

	.submit:hover{
		background: #FFAA38;
		cursor: pointer;
	}

	footer{
		font-size: .6em;
		padding: 1%;
	}
}